html
  head
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    //- link(rel='stylesheet', type='text/css', href='./css/pc.css', media='screen and (min-width: 640px)')
    link(rel='stylesheet', type='text/css', href='./css/pc.css')
  body
    .first
      .divider-dark-blue 
      .content
        .first-content-main
          img(src='./img/header.png', style='width: 60%; display: block;margin: 0 auto;')
    .second(style='padding-bottom: 10%;')
      .divider-pink
      .second-content-sub
        .sub-content-item blissr联合国内领先练习生学院UPA
        .sub-content-item 打造常态化练习生超级海选为
        .sub-content-item 中日韩超过100家以上娱乐公司
        .sub-content-item 推荐输送优秀练习生
        .sub-content-desc - - - - - - - - - - - - - - - - - -
        .sub-content-desc 加入blissr必须满足年满18周岁无娱乐公司和
        .sub-content-desc 泛娱乐平台不良违约记录未与任何
        .sub-content-desc 公司或个人签署经纪合约
      .content
        .down-triangle
          .title-red 选择不同的blissr会员服务
        .vip-content
          .vip-title-bg
          .vip-title-green
          .vip-title blissr MEMBER
            span.vip-price RMB 200
          .vip-duration 会员期90天
          .vip-desc 1.推荐直接进入超级选秀blissr专属面试4次
          .vip-desc 2.UPA全韩系练习生培训课1节（Vocal/Dance）另，
          .vip-desc 首次参加超级选秀当日，可免费参与会员专属选秀公开课
        .vip-content
          .vip-title-bg
          .vip-title-green
          .vip-title blissr VIP
            span.vip-price RMB 500
          .vip-duration 会员期90天
          .vip-desc 2."blissr速递"公众平台定制推送1次
          .vip-desc 3.UPA全韩系练习生培训课2节（Vocal&Dance）另，
          .vip-desc 首次参加超级选秀当日，可免费参与会员专属选秀公开课
      .contact-part
        a.btn-join
          .triangle-border-up
            span
          .triangle-border-up-red
            span
          .btn-join-title 加入
            br
            | blissr
            br
            | 偶像通道
          //- a(href='', style='display:block;width: 160px; height: 160px;')
        .about-wechat
          .wechat-title 关于blissr
          .wechat-desc 直接点击或扫码申请
          .wechat-qrcode
            img(src='./img/QR.png')
      .split-line
        .divider-slim-green
        .title-red 输送签约的娱乐公司
        .divider-slim-green
      .content
        .picture
          table(border='0', cellspacing='0', cellpadding='10px')
            tr
              th.biaoge
                img(src='img/1.png')
              th.biaoge
                img(src='img/2.png')
              th.biaoge
                img(src='img/3.png')
              th.biaoge
                img(src='img/4.png')
            tr
              th.biaoge
                img(src='img/5.png')
              th.biaoge
                img(src='img/6.png')
              th.biaoge
                img(src='img/7.png')
              th.biaoge
                img(src='img/8.png')
            tr
              th.biaoge
                img(src='img/9.png')
              th.biaoge
                img(src='img/10.png')
              th.biaoge
                img(src='img/11.png')
              th.biaoge
                img(src='img/12.png')
            tr
              th.biaoge
                img(src='img/13.png')
              th.biaoge
                img(src='img/14.png')
              th.biaoge
                img(src='img/15.png')
              th.biaoge
                img(src='img/16.png')
            tr
              th.biaoge
                img(src='img/17.png')
              th.biaoge
                img(src='img/18.png')
              th.biaoge
                img(src='img/19.png')
      .split-line
        .divider-slim-green
        .title-red 过往选秀照片
        .divider-slim-green
      img(src='./img/tupian1.png', style='display: block; margin: 0 auto;')
    .third
      .about-wechat
        .wechat-title 关于超级选秀
        .wechat-desc 扫码了解超级选秀
        .wechat-qrcode
          img(src='./img/QR.png')
      .triangle-border-up-bottom
        span